@import "../utils/animations.scss";

.container-home {
  display: flex;
  margin-left: 8%;
  flex-wrap: wrap;
  overflow: scroll;

  a {
    text-decoration: none;
    animation: FadeIn 2s ease-in;
  }
}

@media (max-width: 375px) {
  .container-home {
    margin-left: -2%;
  }
}
