@import "../utils/_variables.scss";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $secondary-color;

  .svg-inline--fa {
    color: white;
  }

  img {
    width: 200px;
    height: 150px;
  }
}
