@import "../utils/variables.scss";

.header-top {
  display: flex;
  width: 100%;
  background-color: lighten($color: $primary-color, $amount: 15);

  .container-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;

    &-login {
      color: white;
      background-color: transparent;
      justify-self: flex-end;
      border: none;
      margin: 3%;
      font-size: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
    &-trial-button {
      background-color: black;
      color: white;
      background-color: lighten($color: $secondary-color, $amount: 20);
      align-self: center;
      font-size: 1rem;
      padding: 8px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  a {
    text-decoration: none;
    margin-left: 8%;
    width: 100%;
    h2 {
      color: white;
    }
  }
}

.header-bottom {
  display: flex;
  width: 100%;
  background-color: lighten($color: $secondary-color, $amount: 20);

  h3 {
    color: white;
    margin-left: 8%;
  }
}

@media (max-width: 414px) {
  .header-top {
    h2 {
      font-size: 1.1rem;
    }

    .container-buttons {
      margin-right: 2%;
      &-login {
        font-size: 0.8rem;
      }
      &-trial-button {
        font-size: 0.8rem;
        padding: 3px;
      }
    }
  }
  .header-bottom {
    h3 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 375px) {
  .header-top {
    h2 {
      font-size: 0.9rem;
    }

    .container-buttons {
      margin-right: 1%;
      &-login {
        font-size: 0.7rem;
      }
      &-trial-button {
        font-size: 0.7rem;
        padding: 1px;
      }
    }
  }
  .header-bottom {
    h3 {
      font-size: 0.8rem;
    }
  }
}
