@mixin seriesMovieContainer {
  display: flex;
  margin-left: 2%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 2%;

  //this css class is to manipulate the spinner from react spinner.
  .css-0 {
    margin: 0 auto;
  }

  img {
    @extend .css-0;
  }

  .product-tile-list {
    flex-wrap: wrap;
    padding: 0;
  }
}

@mixin mediaQuerySeriesMovie($category) {
  @media (max-width: 414px) {
    .#{$category} {
      margin-right: 0;
      margin-left: 8%;
    }
  }

  @media (max-width: 375px) {
    .#{$category} {
      margin-right: 0;
      margin-left: 6%;
    }
  }
}
