@import "../../utils/_variables.scss";

.footer {
  bottom: 0;
  width: 100%;
  background-color: $secondary-color;
  p {
    color: darken($color: white, $amount: 25);
    font-size: 0.75rem;
    margin-left: 8.5%;
  }
}

@media (max-width: 414px) {
  .footer {
    p {
      font-size: 0.55rem;
    }
  }
}
